<header id="cabecalho">
  <div id="logo">
    Esporte <span id="titulo-logo">ArLivre</span>
  </div>

  <nav id="menu">
    <ul id="menu-ul">
      <!-- Mapeado para /home -->
      <li><a routerLink="/home" class="lnk-menu">INICIO</a></li>
      
      <!-- Mapeado para /cadastroAtleta -->
      <li><a routerLink="/cadastroAtleta" class="lnk-menu">CADASTRO DE ATLETA</a></li>
      
      <!-- Adicione o routerLink conforme criar os outros componentes -->
      <li><a routerLink="/corridas" class="lnk-menu">CORRIDAS DE CORRIDA</a></li>
      <li><a routerLink="/listarCorridas" class="lnk-menu">LISTAR CORRIDAS</a></li>
      <li><a routerLink="/inscrevaSe" class="lnk-menu">INSCREVA-SE</a></li>
    </ul>
  </nav>
</header>